.display {
  background-color: #EDF2F4;
  min-width: 794px;
  width: 794px;
  height: 1123px;
}

.display-header {
  color:#EDF2F4;
}

.header-top {
  padding: 48px;
  padding-bottom: 24px;
  background-color: #2B2D42;
}

.header-bottom {
  padding: 24px 48px;
  background-color: #8D99AE;
  display: flex;
  flex-direction: column;
  gap: 14px;
  flex-wrap: wrap;
}

.header-bottom-group {
  display: flex;
}

.icon-group {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  flex-basis: 50%;
}

.feather {
  width: 18px;
  height: 18px;
}

.display-name {
  font-weight: 500;
  font-size: 42px;
  line-height: 32px;
}

.display-title {
  color: #ff8c42;
  font-weight: 300;
  font-size: 21px;
  line-height: 48px;
}

.display-profile {
  font-size: 14px;
}
.main-heading {
  color: #9C0D38;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  border-bottom: 2px #9C0D38 solid;
  margin: 24px 0;
}

.display-expertise, .display-exp, .display-courses, .display-edu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 48px;
}

.expertise-content {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 8px;
}

.text--highlighted {
  padding: 8px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 400;
  color:#EDF2F4;
  background-color: #8D99AE;
}